.postingsListItemContainer {
  display: flex;
  flex-direction: column;
  // box-shadow: 5px 5px 13px 5px #b2b2b2;
}

.postingPictureContainer {
  height: 500px;
  width: 100%;
}

.postingPicture {
  width: 100%;
  height: 100%;
}

.postingSummaryContainer {
  height: 200px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
